[Unit]
Description=Refresh Mugiwara Control Panel cronjobs status manifest periodically
Documentation=https://github.com/asistentes-mugiwara/mugiwara-control-panel

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=mugiwara-cronjobs-status.service

[Install]
WantedBy=timers.target
